html{
  height: 100%;
}
body{
  background-image: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-size: 100%;
}
#firstCol{
  filter: drop-shadow(10px 10px 10px rgb(98, 114, 108));
}
#heading{
  filter: drop-shadow(2px 4px 5px rgb(228, 194, 194));
}
#addBtn{
  position: fixed;
  top:112px;
  right: 30px;
}
#addBtn:hover{
  color:green;
}
#inpTag{
  position: fixed;
  top:108px;
  left:0px;
  right: 0px;
}
#deleteBtn:hover{
  color:red;
}
#editBtn:hover{
  color: skyblue;
}
